* {
    padding: 0%;
    margin: 0%;
}

body {
    text-align: center;
    
}


.titulo {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}

.titulo strong {
    color: rgb(250, 18, 18);
}
ul{
    text-align: center;
    padding: 30px;
    margin: 50px;
}


